[submodule "contracts/celo/lib/openzeppelin-contracts"]
	path = contracts/celo/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/celo/lib/forge-std"]
	path = contracts/celo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
